.navbar {
    background-color: #820000 !important;
    height: 100px;
}

.container-navbar {
    background-color: #6B0000 !important;
    height: 40px;
}

.img-logo {
    width: 166px;
    height: 55px;
}

.container-footer {
    background-color: #6B0000 !important;
    height: 80px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bars-custom {
    color: white;
}

.btn-menu-custom {
    border-color: white;
}

.btn-menu-custom:hover {
    background-color: #820000 !important;
}
