<header>
    <nav class="navbar bg-body-tertiary" [ngClass]="{'fixed-navbar': isNavbarFixed}">
        <div class="container">
            <a class="navbar-brand">
                <img class="img-logo" src="../../../../assets/pokedex-logo.png">
            </a>
            <button type="button" class="btn btn-outline-primary btn-menu-custom">
                <fa-icon class="bars-custom" [icon]="faBars"></fa-icon>
            </button>
        </div>
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>

<footer>
    <div class="container-footer"></div>
</footer>
