.navbar {
    background-color: #820000 !important;
    height: 120px;
}

.container-navbar {
    background-color: #6B0000 !important;
    height: 40px;
}

.img-logo {
    width: 235px;
    height: 80px;
}

.container-footer {
    background-color: #6B0000 !important;
    height: 80px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
