.custom-list-group {
    width: 100%;
}

.list-item button {
    width: 100%;
    text-align: left; /* Alinhar o texto à esquerda, se desejado */
}

.custom-badge {
    background-color: #325ca8;
    color: #fff;
    padding: 0.25em 0.5em;
    border-radius: 50%;
    font-size: 0.6em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0; /* Se necessário, ajuste o espaçamento interno */
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #6c757d; /* Adiciona uma borda inferior */
}

.item-name:hover {
    background-color: transparent;
    color: inherit;
}
