<div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="pokemonSearch" placeholder="Pesquise seu Pokemon..." aria-label="Pesquise seu Pokemon..." aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" (click)="onPokemonSearch()">Buscar</button>
</div>

<hr />


<div class="row">

    <div class="col-md-3">
        <div class="custom-list-group">
            <div class="list-item" *ngFor="let pokemonType of pokemonTypes">
                <button class="item-name text-capitalize btn btn-block d-flex justify-content-between align-items-center mb-3">
                    <span>{{ pokemonType.type }}</span>
                    <span class="custom-badge">{{ pokemonType.relPokemonAndType.length }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-9" >
        <div class="row">
            <div class="col-md-4" *ngFor="let pokemon of pokemons">
                <div class="card mb-3">
                    <img src="{{ pokemon.sprite.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center text-capitalize">{{ pokemon.name }}</h5>
                        <hr />
                        <span>Peso: {{ pokemon.weight }}</span> <br />
                        <span>Altura: {{ pokemon.height }}</span> <br />
                        <span>
                            Tipo: <br />

                            <span class="text-capitalize" *ngFor="let type of pokemon.relPokemonAndType">
                                -- {{ type.pokemonType.type }} <br />
                            </span>

                        </span> <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" (click)="goToPage(currentPage - 1)" [class.disabled]="currentPage === 1">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of visiblePages" (click)="goToPage(page)" [class.active]="page === currentPage">
                        <a class="page-link" href="#">{{ page }}</a>
                    </li>
                    <li class="page-item" (click)="goToPage(currentPage + 1)" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
