<div class="container margin-to-nav">
    <div class="row">
        <div class="col-md-3">
            <div class="container-pesquisa">
                <p class="title-pesquisa">GERAÇÕES:</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="firstCheckbox">
                        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="secondCheckbox">
                        <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="thirdCheckbox">
                        <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                    </li>
                </ul>
            </div>
            <div class="container-pesquisa">
                <p class="title-pesquisa">TIPOS:</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="firstCheckbox">
                        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="secondCheckbox">
                        <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input" type="checkbox" value="" id="thirdCheckbox">
                        <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row container-card-pokemon">
                <div class="card-pokemon col-md-4" *ngFor="let pokemon of pokemons">
                    <div class="image-pokemon-container">
                        <img class="image-pokemon" src="{{ pokemon.sprite.url }}" alt="{{ pokemon.name | titlecase }}">
                    </div>
                    <div class="title-pokemon">
                        <span>{{ pokemon.name | titlecase }}</span>
                    </div>
                    <div class="description-pokemon">
                        <span>algumas descrições do pokemon...</span>
                    </div>
                </div>
            </div>
            <div class="mostrar-mais">
                <button type="button" class="btn btn-primary" (click)="mostrarMais()">MOSTRAR MAIS</button>
            </div>
        </div>
    </div>
</div>
