.margin-to-nav {
    margin-top: 80px;
    margin-bottom: 80px;
}

.title-pesquisa {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.list-group {
    margin-left: 40px;
}

.list-group-item {
    border: none;
}

.form-check-label {
    margin-left: 20px;
    font-size: 16px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border-color: #000;
}

.container-pesquisa {
    margin-bottom: 60px;
}

.card-pokemon {
    width: 220px;
    height: 300px;
    border: 2px solid #000;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-card-pokemon {
    justify-content: space-around;
}

.image-pokemon-container {
    width: 180px;
    height: 150px;
    margin-left: 7px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #EEEEEE;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.image-pokemon {
    width: 100%;
    height: 100%;
}

.title-pokemon {
    width: 180px;
    height: 22px;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.description-pokemon {
    width: 180px;
    height: auto;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 20px;
    font-size: 14px;
}

.mostrar-mais {
    text-align: center;
}

.btn-primary {
    font-size: 18px;
    width: 350px;
    height: 60px;
    background-color: #6B0000;
    border: none;
}
